name: panvimdoc

on:
  push:
    branches:
      - master
    paths:
      - README.md

jobs:
  docs:
    runs-on: ubuntu-latest
    name: readme to vimdoc
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: panvimdoc
        uses: kdheepak/panvimdoc@662fb20304d20c539fb48a0bda628f5165507de7 # v4.0.1
        with:
          vimdoc: partedit
          pandoc: README.md
          description: Edit part of file
      - uses: stefanzweifel/git-auto-commit-action@3cc016cfc892e0844046da36fc68da4e525e081f # v6.0.0
        with:
          commit_message: "docs: auto generate vimdoc"
          branch: ${{ github.head_ref }}
