name: panvimdoc

on:
  push:
    branches:
      - master
    paths:
      - README.md

jobs:
  docs:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    name: readme to vimdoc
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: panvimdoc
        uses: kdheepak/panvimdoc@662fb20304d20c539fb48a0bda628f5165507de7 # v4.0.1
        with:
          vimdoc: partedit
          pandoc: README.md
          description: Edit part of file
      - name: Commit and push changes
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add -A
          if ! git diff --staged --quiet; then
            git commit -m "docs: auto generate vimdoc"
            git push origin HEAD:master
          else
            echo "No changes to commit"
          fi
